@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "JetBrains Mono", "SF Mono", ui-monospace, monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #e2e8f0;
  background-color: #0f172a;
}

body {
  margin: 0;
  min-height: 100vh;
}
